/* 内容div格式
div.content{
	width: 1100px;
	margin:0px auto;
	background-color: antiquewhite;
}
h1{
	color: cornflowerblue;
	width: 120px;
	margin: 0px auto;
}
div.content div.img{
	height: 170px;
	width: 300px;
	margin: 50px auto;
}
div.content a{
	font-size: 40px;
	text-decoration: none;
	color: yellowgreen;
	display: block;
	width: 150px;
	margin: 10px auto;
} */